body{
  font-family: 'Cascadia Code', monospace; letter-spacing: 1pt;
  padding: 0; margin: 0;
}body p{
  font-size: 11pt;
}

.container {
  display: grid;
  grid-template-columns: 700px 1fr;
  height: 100vh; /* full viewport height */
}

/* +------------+ SIDEBAR +------------+ */
.sidebar {
  display: grid;
  grid-template-rows: 240px 1fr;
  padding: 0; margin: 0;
  color: #2b2b2b; 
  background-color: #eeeeee; /* whatever */
  height: 100vh;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.15);
}.sidebar h2{
  position: relative;
  padding: 20px; margin: 0; font-size: 24pt;
  background-color: #eeeeee;
}.sidebar h3{
  padding: 0; margin: 14px 0 6px 0;
  text-transform: uppercase;
  letter-spacing: 3pt; line-height: 18pt; font-size: 18pt; 
  text-align: left;
}.sidebar h4{
  padding: 0 20px 0 10px; margin: 0;
  font-weight: lighter;
  letter-spacing: 2pt; line-height: 10pt; font-size: 10pt;
  border-left: 1px solid #eeeeee;
  text-align: justify;
}.sidebar p{
  padding: 0 10px; margin: 0;
  font-size: 9pt;
  border-left: 1px solid #eeeeee;
}.sidebar ul{
  overflow-y: auto; /* scroll if content too tall */
  padding: 0; margin: 0;
}.sidebar li{
  position: relative;
  display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-start;
  padding: 20px 20px; margin: 0; margin-top: 4px;
  width: auto; height: auto;
  overflow: hidden;
  background: #e5e5e5;
}.sidebar a{
  all: unset;
  cursor: pointer;
}


.sidebar li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #cbcbcb 0%, transparent 70%);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 0;
  opacity: 0.0;
  pointer-events: none;
}
.sidebar li:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.sidebar li > * {
  position: relative;
  z-index: 1;
}


.spacer {
  padding: 0; margin: 10px 0;
  width: 100%;
  border-top: 1px solid #eeeeee;
}

/* +------------+ CONTENT +------------+ */
.main-content {
  padding: 20px;
  overflow-y: auto;
}


@media (max-width: 800px) {
  .container {
    grid-template-columns: 50px 1fr; /* shrink sidebar */
  }
  .sidebar {
    width: 50px; /* keep consistent */
  }
}
