<div class="sidebar">
    <div class="header">
        <div>
            <img class="type" src="house-rogue--header-type.png">
        </div>
        <!-- <div>
            <h2>A HOUSE ROGUE DEVLOG</h2>
            <br>
            <br>
            <p>~insert pretentious quote here~</p>
            <p>a house rogue devlog</p>
            <p>also contact info</p>
            <p>houserogue.dev@gmail.com</p>
        </div> -->
    </div>

    <ul>
        {% for post in site.posts %}
            <a href="{{ post.url }}">
                <li>
                    <p>
                        March 17, 2025
                    </p>
                    <h3>
                        {{ post.title }}
                    </h3>
                    <!-- <div class="spacer"></div> -->
                    <h4>
                        Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                    </h4>
                </li>
            </a>
        {% endfor %}
    </ul>
</div>
