<div class="sidebar">
    <h2>HOUSE ROGUE devlog</h2>
    <ul>
        <a href="">
            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem laborum odit dolorum quis eius facere ex cum atque eveniet fugiat nisi, reprehenderit excepturi.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    Lorem ipsum dolor sit.
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat libero aperiam ipsa sed ex, inventore vero!
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem?
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>

            <li>
                <p>
                    March 17, 2025
                </p>
                <h3>
                    procedural hexagon grid generation in UE5
                </h3>
                <!-- <div class="spacer"></div> -->
                <h4>
                    Join me in a productive evening as we explore methods of generating instanced hexagon grids.
                </h4>
            </li>
        </a>
    </ul>
</div>