<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <meta name="description" content="House Rogue devlog" />
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}" />
  <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <button id="sidebarToggle" class="sidebar-toggle-btn">☰</button>
    {% include sidebar.html %}
    <main class="main-content">
      {{ content }}
    </main>
  </div>
  <script src="{{ '/scripts.js' | relative_url }}"></script>
</body>
</html>
